/* footer */
footer {
    height: 100px;
    padding-top: 2vh;
    padding-left: 1vw;
    background-color: #d4eaf5;
}

#project_name {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 30px;
}

#copyright {
    font-weight: 400;
    font-size: 14px;
}