/* Part 1. 어느 환경미화원의 죽음 */
#part1 {
    width: 100%;
    background-color: #000000;
    color: white;
    padding-top: 100px;
}

/* 환경미화원 사망사건 리포트 */

.part1_prgph {
    padding-top: 100px;
    line-height: 210%;
    font-size: 18px;
}

.part1_prgph p{
    font-size: 14px;
    color: #b0b0b0;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    font-weight: 200;
}

#part1_prgph_wrap1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
        url("../../img/cat1_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#part1_prgph_wrap2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url("../../img/cat2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#part1_prgph_wrap3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
        url("../../img/cat3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.part1_prgph1_cat {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    background-color: #0b6031;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
}

/* #part1_prgph1_cat2,
#part1_prgph1_cat3 {
    margin-top: 80px;
} */

/* part 1 텍스트 상자 */
.part1_txtbox {
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 35px 25px;
    margin-bottom: 500px;
    font-weight: 300;
}


/*tableau 시각화 자료*/
.part1_tableau_wrap {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.part1_tableau_wrap figcaption {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    font-weight: 200;
}
.part1_tableau_wrap figcaption div{
    font-size: 13px;
}

#part1_tableau_figcaption_small_1 {
    margin-top: 10px;
    line-height: 200%;
}
.part1_tableau_wrap_hidden {
    display: none;
}

/* 2. 5년간 환경미화원 산재사고 현황 */ 

#part1_part2_wrap{
    display: flex;
    justify-content: center;
}

#part1_part2 {
    width: 600px;
    padding-top: 100px;
    line-height: 210%;
    font-size: 18px;
    padding-bottom: 300px;
}

/* 세로모드 모바일 디바이스 */
@media (max-width: 575px) {
    .part1_prgph {
        font-size: 15px;
    }

    .part1_prgph p{
        font-size: 10px;
        line-height: 160%;
        text-align: center;
        color: #b0b0b0;
        font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
        font-weight: 200;
    }

    .part1_prgph1_cat {
        font-size: 20px;
    }

    #part1_prgph_wrap1 {
        margin-top: 100px;
    }
    
    #part1_prgph_wrap2 {
        margin-top: 200px;
    }
    
    #part1_prgph_wrap3 {
        margin-top: 200px;
    }

    .part1_tableau_wrap {
        display: none;
    }

    .part1_tableau_wrap_hidden {
        width: 90vw;
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }

    .part1_tableau_wrap_hidden figcaption {
        text-align: center;
        font-size:14px;
        max-width: 90vw;
    }

    #part1_part2 {
        width: 88vw;
        padding-top: 100px;
        line-height: 180%;
        font-size: 16px;
        margin-bottom: 100px;
    }
    
}

/* 가로모드 모바일 디바이스 */
@media (max-width: 767px) {


}

/* 갤럭시 폴드 가로모드 - 대처 노답 */
@media (width: 653px) {


}

/* 태블릿 디바이스 */
@media (max-width: 991px) {


}

/* 데스크탑 */
@media (max-width: 1199px) {
    
}