html,
body {
    width: 100%;
   
}

html {
    font-family: Noto Sans KR, AppleSDGothicNeo, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; /* ❶ */ 
    align-items: center; /* ❷ */
}

/* 각 파트별 제목 */
#article_title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
}

.article_title_serif {
    padding-top: 100px;
    font-family: 'Noto Serif KR', serif;
    font-size: 40px;
    font-weight: 600;
}

.article_title_small {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 500;
}

#article_title_small_serif {
    /* display: flex;
    justify-content: center; */
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: 'Noto Serif KR', serif;
    font-style: italic;
}

/* 파트별 본문 */
.text-content {
    width: 600px;
    line-height: 210%;
    font-size: 18px;
}

/* 우측 플로팅 목차 */
#toc_wrapper {
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    margin: 0;
    z-index: 4;
    font-size: 13px;
    position: absolute;
    width: 70px;
    height: 200px;
    right: 0.5vw;
    border-radius: 10px;
    top: 250px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    box-shadow: 2px 2px 9px 0px #00000040;
}


#toc_wrapper div {
    margin-bottom: 5px;
}

#toc_wrapper_title {
    font-weight: 800;
    font-size: 14px
}


/* SNS 공유 버튼 */
#share_btn_wrap {
    z-index: 999;
    position: fixed;
    right: 3vw;
    bottom: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-icon {
    font-size: 14px;
    font-weight: 500;
    color: rgb(124, 124, 124);
    margin-right: 10px;
    padding-top: 50px;
}

/* .link-icon.twitter {
    background-image: url(../../img/icon-twitter.png);
    background-repeat: no-repeat;
}

.link-icon.facebook {
    background-image: url(../../img/icon-facebook.png);
    background-repeat: no-repeat;
} */

.link-icon.kakao {
    background-image: url(../../img/icon-kakao.png);
    background-repeat: no-repeat;
}

/* 세로모드 모바일 디바이스 - 1*/
@media (max-width: 575px) {
    /* 우측 플로팅 목차 */
    #toc_wrapper {
        display: none;
    }

    /* 각 파트별 제목 */
    #article_title {
        font-size: 30px;
        text-align: center;
        width: 90vw;
    }
    .article_title_serif {
        font-size: 35px;
    }

    .article_title_small {
        font-size: 25px;
    }

    #article_title_small_serif {
        font-size: 30px;
    }

    /* SNS 공유 버튼 */
    #share_btn_wrap {
        z-index: 999;
        position: fixed;
        right: 3vw;
        bottom: 3vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .link-icon {
        flex-shrink: 1;
        font-size: 12px;
        font-weight: 500;
        color: rgb(124, 124, 124);
    }
}


/* 세로모드 모바일 디바이스 - 2*/
@media (max-width: 450px) {
    #article_title {
        font-size: 25px;
        text-align: center;
    }

    .article_title_serif {
        padding-top: 100px;
        font-family: 'Noto Serif KR', serif;
        font-size: 25px;
        font-weight: 600;
    }
    
    .article_title_small {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 500;
    }
    
    #article_title_small_serif {
        /* display: flex;
        justify-content: center; */
        font-size: 20px;
        margin-top: 100px;
        margin-bottom: 20px;
        font-family: 'Noto Serif KR', serif;
        font-style: italic;
    }
}

/* 가로모드 모바일 디바이스 */
@media (max-width: 767px) {


}

/* 갤럭시 폴드 가로모드 - 대처 노답 */
@media (width: 653px) {


}

/* 태블릿 디바이스 */
@media (max-width: 991px) {
    /* 우측 플로팅 목차 */
    #toc_wrapper {
        display: none;
    }

}

/* 데스크탑 */
@media (max-width: 1199px) {
    
}